img {
  width: 400px;
  height: 400px;
  object-fit: fill;
  border-radius: 100%;
}
span {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}
.cont {
  border: 5px dashed gray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
